*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Menu de Navigation */

nav
{
	background-color: #2c3e50;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
}

.logo
{ 
	color: #f6f1eb;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.1em;
}

.nav-links
{
	display: flex;
	width: 40%;
	justify-content: space-around;
	list-style-type: none;
}

.logo a
{
	color: #f6f1eb;
	text-decoration: none;
}

.nav-links a
{
	color: #f6f1eb;
	text-decoration: none;
}

/* Morpion */

.corp {
	background-color: rgb(46, 194, 160);
	height: 92vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.title{
	border: 2px solid green;
	font-family: "Verdana", cursive, sans-serif;
	font-size: 3rem;
	color: white;
	width: 100%;
	text-align: center;
}


td {
	color: white;
	border: 4px solid #264b5a;
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	font-family: "Raleway", sans-serif;
	font-size: 70px;
	cursor: pointer;
}

/* Making sure the table look like a tic tac toe grid */

.endgame {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.endgame button {
	background-color: #264b5a;
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid  rgb(46, 194, 160);
	font-size: 1.5rem;
	color:  rgb(46, 194, 160);
	cursor: pointer;
}

.endgame button:hover {
	background-color: rgb(46, 194, 160);
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid  #264b5a;
	font-size: 1.5rem;
	color:  #264b5a;
	cursor: pointer;
}

table {
	border-collapse: collapse;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

/* styling the endgame screen */

.endgame {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0%;
	position: absolute;
	text-align: center;
	font-size: 2em;
  	background-color: rgba(36, 77, 87, 0.7);
}

.text {
	padding-top: 230px;
	padding-bottom: 30px;
	font-size: 4rem;
	color: white;
}
