* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Menu de Navigation */

nav
{
	background-color: #2c3e50;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
}

.logo
{ 
	color: #f6f1eb;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.1em;
}

.nav-links
{
	display: flex;
	width: 40%;
	justify-content: space-around;
	list-style-type: none;
}

.logo a
{
	color: #f6f1eb;
	text-decoration: none;
}

.nav-links a
{
	color: #f6f1eb;
	text-decoration: none;
}

/* Blackjack */

#game-container {
	width: 100vw;
	height: 92vh;
	background: url('img/back.jpg');
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	justify-content: space-around;
	/*align-items: center;*/
}

.dealerHand {
	padding-top: 50px;
	padding-bottom: 30px;
	width: 100%;
	height: 50px;
	color: white;
	font-family: "Verdana", cursive, sans-serif;
	font-size: 2rem;
	text-align: center;
	display: flex;
	justify-content: center;
}

#deck1 {
	padding-bottom: 100px;
	margin-top: -150px;
	margin-left: -139px;
}

.playerButtons {
	width: 100%;
}

.playerHand {
	padding-bottom: 50px;
	width: 100%;
	height: 50px;
	color: white;
	font-family: "Verdana", cursive, sans-serif;
	font-size: 2rem;
	display: flex;
	justify-content: center;
}

.action {
	width: 100%;
	height: 50px;
	color: white;
	font-family: "Verdana", cursive, sans-serif;
	font-size: 2.5rem;
	text-align: center;
}

.button {
	width: 100%;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

button {
	background-color: rgba(0, 0, 0,0);
	border-radius: 10px;
	margin: 50px 20px 20px 20px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid  white;
	font-size: 1.5rem;
	color:  white;
	cursor: pointer;
}

.card {
	position: absolute;
	height: 200px;
	width: 140px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 11px 10px 9px -5px rgba(0,0,0,0.34);
}

.top-card {
	position: relative;
	height: 200px;
	width: 140px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 11px 10px 9px -5px rgba(0,0,0,0.34);
}

.top-card-back {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-front {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-back {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.image {
	display: block;
	margin: auto;
}

/*Add Transitions for cards*/

#deck1 .card.visible0.reveal .card-back {
	display: none;
}

#deck1 .card.visible0.reveal .card-front {
	display: inline-flex;
}

#deck1 .card.visible0 .card-front {
	display: none;
}

#deck1 .card.visible0 .card-back {
	display: inline-flex;
}

#deck1 .card.visible0 {
	transform: translate(160px, 0px);
	transition: .5s ease-in-out ;
	z-index: 1;
}

#deck1 .card.visible1 {
	transform: translate(0px, 220px);
	transition: .5s ease-in-out ;
	z-index: 2;
}

#deck1 .card.visible2 {
	transform: translate(200px, 0px);
	transition: .5s ease-in-out ;
	z-index: 3;
}

#deck1 .card.visible3 {
	transform: translate(40px, 220px);
	transition: .5s ease-in-out ;
	z-index: 4;
}

#deck1 .card.visible4 {
	transform: translate(80px, 220px);
	transition: .5s ease-in-out ;
	z-index: 5;
}

#deck1 .card.visible5 {
	transform: translate(120px, 220px);
	transition: .5s ease-in-out ;
	z-index: 6;
}

#deck1 .card.visible6 {
	transform: translate(160px, 220px);
	transition: .5s ease-in-out ;
	z-index: 7;
}

#deck1 .card.visible7 {
	transform: translate(200px, 220px);
	transition: .5s ease-in-out ;
	z-index: 8;
}

#deck1 .card.dealer0 {
	transform: translate(240px, 0px);
	transition: .5s ease-in-out ;
	z-index: 9;
}

#deck1 .card.dealer1 {
	transform: translate(280px, 0px);
	transition: .5s ease-in-out ;
	z-index: 10;
}

#deck1 .card.dealer2 {
	transform: translate(320px, 0px);
	transition: .5s ease-in-out ;
	z-index: 11;
}

#deck1 .card.dealer3 {
	transform: translate(360px, 0px);
	transition: .5s ease-in-out ;
	z-index: 12;
}

/* styling the endgame screen */

.endgame {
	font-family: "Verdana", cursive, sans-serif;
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0%;
	position: absolute;
	text-align: center;
	font-size: 2em;
  	background-color: rgba(52, 73, 94, 0.8);
  	z-index: 50;
}

.endgame button {
	background-color: #ecf0f1;
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid  #3498db;
	font-size: 1.5rem;
	color:  #3498db;
	cursor: pointer;
}

.endgame button:hover {
	background-color: #3498db;
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.5rem;
	color:  #ecf0f1;
	cursor: pointer;
}

.text {
	font-family: "Verdana", cursive, sans-serif;
	font-size: 4rem;
	color: white;
	width: 100vw;
	padding-bottom: 20px;
	margin-top: 45vh;
	margin-left: 50vw;
	transform: translateX(-50%); 
}